*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: black;
    align-items: center;
    line-height: 5rem;
}

a:any-link{
    text-decoration: none;
}

.header a{
    background-color: brown;
    margin:1rem ;
    font-size: 1rem;
    color: white;
}